.git
.gitignore
.vite-temp
node_modules
vendor
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/backup/*
.env
.env.*
!env.example
docker-compose.yml
Dockerfile
.gitattributes
*.md
*.swp
*~
